In [6]:
import pandas as pd

In [7]:
movies_metadata = pd.read_csv('movies_metadata.csv', low_memory = False)
ratings = pd.read_csv('ratings.csv')

In [11]:
movies_metadata.sample()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
27653,False,NaN,4600000,"[{'id': 18, 'name': 'Drama'}]",https://www.facebook.com/Miraculumlefilm,248231,tt2717528,fr,Miraculum,"Sometimes, we're just waiting for a miracle. A...",...,2014-02-28,0.0,104.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Miraculum,False,5.3,11.0